body{
    font-family: "Roboto",sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.logo{
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.logo-span{
    color: #2E2F42;
    font-family: "Raleway";
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.nav-items{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.nav-items:hover{
    color: #404BBF;
}
.nav-items:focus{
    color: #404BBF;
}
address{
    font-style: normal;
}